<template>
  <div class="home">
    <h1 class="is-size-2 is-aligned-left has-mb-20">Výpis článků</h1>
    <template v-if="posts.length > 0">
      <blog-post v-for="post in reducedPosts" :key="post.id" :post="post"/>
    </template>
    <button
      @click="incrementPostsCount()"
      class="button is-info is-large"
      :disabled="showShowMoreButton">Zobrazit více</button>
  </div>
</template>

<script>
import BlogPost from '@/components/BlogPost.vue';
import { mapGetters, mapState } from 'vuex';

const INCREMENT_POSTS_BY = 3

export default {
  name: 'home',
  components: {
    BlogPost,
  },

  data() {
    return {
      // This sets the count of first loaded posts
      postsCount: INCREMENT_POSTS_BY,
    };
  },

  created() {
    // Loading posts from vuex store so I can access them
    this.$store.dispatch('loadPosts');
  },

  computed: {
    ...mapState([
      'posts',
    ]),
    ...mapGetters([
      'getPosts',
    ]),

    reducedPosts() {
      return this.getPosts(this.postsCount);
    },

    showShowMoreButton() {
      return this.posts.length <= this.postsCount;
    },
  },

  methods: {
    // Function for show more button
    incrementPostsCount() {
      this.postsCount = this.postsCount + INCREMENT_POSTS_BY;
    },
  },
};
</script>
