<template>
  <div class="MainX">
    <h1 class="is-size-2 is-aligned-left has-mb-20">Stránka vyžaduje přihlášení</h1>
    <div class="columns is-centered">
      <div class="column is-half">
        <form class="is-half" @submit.prevent>
          <div class="field">
            <div class="control">
              <input class="input is-large" v-model.trim="loginForm.email" type="text" id="email1" placeholder="Email">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-large" v-model.trim="loginForm.password" type="password" id="password1" placeholder="Password">
            </div>
          </div>

            <button @click="login" class="button is-success">Přihlásit</button>

        </form>
        <div v-if="errorMsg !== ''" class="error-msg">
            <p>{{ errorMsg }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const fb = require('@/firebaseConfig')

export default {
  name: 'Login',

  data () {
    return {
      loginForm: {
        email: '',
        password: ''
      },
      errorMsg: ''
    }
  },

  methods: {
    login () {
      fb.auth.signInWithEmailAndPassword(this.loginForm.email, this.loginForm.password).then(user => {
        this.$store.commit('setCurrentUser', user.user)
        this.$store.dispatch('fetchUserProfile')

        // Redirect after logging in
        this.$router.push('/novy-clanek')
      }).catch(err => {
        console.log(err)
        this.errorMsg = err.message
      })
    }
  }
}
</script>
