<template>
  <div class="new-post">
    <h1 class="is-size-2 is-aligned-left has-mb-20">Nový článek</h1>
    <div class="field">
      <div class="control">
        <input
          class="input is-large"
          type="text"
          v-model="model.title"
          placeholder="Nadpis">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <textarea
          class="textarea is-large"
          v-model="model.content"
          placeholder="Large textarea"></textarea>
      </div>
    </div>

    <button
      class="button is-large is-success"
      @click="addPost()"
      :disabled="!isFormFilled">Vložit Příspěvek</button>
    <div v-if="addingStatus">Příspěvek byl přidán</div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

const fb = require('@/firebaseConfig.js');

export default {
  name: 'NewPost',

  data() {
    return {
      model: {
        title: '',
        content: '',
      },
      addingStatus: false,
    };
  },

  computed: {
    // Simple form validation
    isFormFilled() {
      return this.model.title !== '' && this.model.content !== '';
    },
  },

  methods: {
    ...mapMutations([
      'ADD_POST',
    ]),

    // This beautiful script transforms title of the post you are trying to create to a usable url address
    slugify(string) {
      const a = 'àáäâãåăæçčèéëêěǵḧìíïîḿńǹñòóöôœṕŕřßśșšțùúüûǘẃẍÿýźž·/_,:;'; // this is vocabulary for special chars
      const b = 'aaaaaaaacceeeeeghiiiimnnnoooooprrsssstuuuuuwxyyzz------';
      const p = new RegExp(a.split('').join('|'), 'g');
      return string.toString().toLowerCase()
        .replace(/\s+/g, '-') // Replace spaces with -
        .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
        .replace(/&/g, '-and-') // Replace & with ‘and’
        .replace(/[^\w-]+/g, '') // Remove all non-word characters
        .replace(/--+/g, '-') // Replace multiple - with single -
        .replace(/^-+/, '') // Trim - from start of text
        .replace(/-+$/, ''); // Trim - from end of text
    },

    addPost() {
      this.ADD_POST(this.model);
      const date = new Date();
      fb.postsCollection.add({
        title: this.model.title,
        url: this.slugify(this.model.title),
        content: this.model.content,
        author: 'John Smith', // TODO implement signed user info
        authorNick: 'johny992', // TODO implement signed user info
        createdAt: date,
      }).then(() => {
        // After successfull database insertion there is some feedback
        this.addingStatus = true
      });
      // Clearing form after the post wass added
      this.model.title = '';
      this.model.content = '';
    },
  },
};
</script>
