<template>
  <div class="home">
    <template v-if="posts.length > 0">
      <h1 class="is-size-2 is-aligned-left">{{ postData.title }}</h1>
      <span>{{ postData.author }} </span>
      <p>{{ postData.content }}</p>
    </template>

  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';

export default {
  name: 'PostDetail',

  mounted() {
    this.$store.dispatch('loadPosts');
  },

  computed: {
    ...mapState([
      'posts',
    ]),
    ...mapGetters([
      'getPost',
    ]),

    // Getting post data
    postData() {
      return this.getPost(this.$route.params.post);
    },
  },
};
</script>
