<template>
  <router-link :to="{ name: 'PostDetail', params: { post: this.post.url }}" class="blog-post box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h3
            class="is-size-3"
            v-html="post.title"/>
          <strong>{{ post.author }} </strong> <small>@{{ post.authorNick }}</small>
          <br>
          <p>
            {{ textEllipsis(post.content, 700) }}
          </p>
        </div>
      </div>
    </article>
  </router-link>
</template>

<script>
export default {
  name: 'BlogPost',
  props: {
    post: {
      type: Object,
    },
  },

  methods: {
    // Shortening the blog post
    textEllipsis(str, maxLength, { ellipsis = '...' } = {}) {
      if (str.length > maxLength) {
        return str.slice(0, maxLength - ellipsis.length) + ellipsis;
      }
      return str;
    },
  },
};
</script>

<style lang="scss">
  .blog-post {
    max-height: 280px;
    overflow: hidden;
    padding-bottom: 15px;
  }
</style>
