<template>
 <section class="footer">
    <div class="container">
      Copyright
    </div>
  </section>
</template>

<script>
export default {
  name: 'FooterBar',
};
</script>

<style lang="scss" scoped>
  .footer {
    position: absolute;
    text-align: left;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 120px;
    height: 120px;
    padding: 0;
    background-color: #fff;
  }
</style>
