<template>
  <nav class="navbar columns" role="navigation" aria-label="main navigation">
    <div class="navbar-brand column is-three-quarters">
      <a class="navbar-item" href="/">
        <h1 class="is-size-4">Blog o ničem</h1>
      </a>
    </div>
    <div class="navbar-end column is-one-quarter">
      <div class="navbar-item is-pulled-right">
        <button class="button is-pulled-left" v-if="isSignedIn" @click="logout">Odhlásit</button>
        <router-link :to="{ name: 'NewPost'}" class="button is-primary">
          <strong>+</strong>
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
const fb = require('@/firebaseConfig.js');
import firebase from 'firebase'

export default {
  name: 'HeadBar',

  computed: {
    isSignedIn() {
      return firebase.auth().currentUser
    }
  },

  methods: {
    logout () {
      fb.auth.signOut().then(() => {
        this.$store.dispatch('clearData')
        this.$router.push('/')
      }).catch(err => {
        console.log(err)
      })
    },
  }
};
</script>

<style lang="scss">
.navbar {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  &-brand,
  &-end {
    &.column {
      padding-bottom: 0;
    }
  }
}
</style>
