<template>
  <div id="app">
    <head-bar />
    <section class="section">
      <transition name="fade">
        <router-view />
      </transition>
    </section>
    <footer-bar />
  </div>
</template>
<script>
import HeadBar from '@/components/HeadBar.vue';
import FooterBar from '@/components/Footer.vue';

export default {
  components: {
    HeadBar,
    FooterBar,
  },
};
</script>
<style lang="sass">
  @import "node_modules/bulma/bulma"
</style>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
}

.has-mb-20 {
  margin-bottom: 20px;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

// Transition for every route change
.fade-enter-active, .fade-leave-active {
  transition: opacity 150ms;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
